@import '~bootstrap/dist/css/bootstrap.css';
@import '~react-toastify/dist/ReactToastify.min.css';

body {
  margin: 0;
  padding: 0;
  color: #484848;
  background-color: #efefef;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

#root {
  overflow: auto;
  min-height: 100vh;
}
