:local(.card) {
  background-color: #fff;
  border: none;
  padding: 2rem 1rem 1rem 1rem;
  box-shadow: 0 4px 16px -3px rgba(0, 0, 0, 0.12), 0 5px 5px -5px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
